

body {
margin: 0;
text-align: center;
background-color: #CEE5D0;
font-family: 'Lato', sans-serif;
font-size: 1em;
color: #5A8F7B;
}

hr {
border-style: none;
border-bottom: 6px dotted #FFFBEB;
width: 5%;
height: 0px;
margin-top: 50px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
}

h1 {
  font-size: 2.9rem;
  line-height: 2;
  margin-top: 0;
  font-family: 'Caveat', cursive;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

.top {
  padding-top: 100px;
  padding-bottom: 0px;
}
.topic {
  position: relative;
  color: #5A8F7B;
}
.developer {
  position: relative;
  top: 140px;
  left: 100px;

}

.cloud-left {
  width: 10%;
  height: 10%;
  position: relative;
  bottom: 600px;
  left: 200px;

}

.cloud-right {
  width: 10%;
  height: 10%;
  position: relative;
  left: 500px;
  bottom: 550px;

}
.cloud-1 {
  width: 10%;
  height: 10%;
  position: relative;
  bottom: 400px;
  right: 250px;

}

.cloud-2 {
  width: 10%;
  height: 10%;
  position: relative;
  bottom: 400px;
  left: 400px;

}
.wave {
  width: 30%;
  height: 30%;
  padding: 30px;
  margin-bottom: 0;
  position: relative;
  right: 250px;
  bottom: 70px;
  transform: rotate(-20deg)

}
.head-line {
  margin-top: 0px;
  padding-top: 0;
}
.profile {

}

.profile-pic {
  width: 10%;
  height: 10%;
  position: relative;
  bottom: 10px;
}

.hello {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 100px;
}

.about-me {
  padding-right: 300px;
  padding-left: 300px;
  position: relative;
  bottom: 20px;

}


.skills {

}

.skill-row {
  text-align-last: center;
  position: relative;

}
.img-skills {
  padding: 20px;
  width: 7%;
  height: 7%;
  position: relative;
  margin-bottom: 0;

}

.img-education {
  padding: 20px;
  width: 7%;
  height: 7%;
  position: relative;


}
.contact-me {

}
.img-message {
  padding: 20px;
  width: 5%;
  height: 5%;
  position: relative;
  LEFT: 50px;

}
.btn {
  text-align: center;
  text-decoration: none;
  color: #FFFBEB;
  font-family: 'Lato', sans-serif;
  padding: 5px;
  border-radius: 8px;
  background:  #ADD2C9;
  position: relative;
  right: 53px;
  top: 30px;
}
.btn:hover {
  background: #1A5F7A;
  text-decoration: none;
}
.bottom-container {
  padding-top: 30px;
  background-color: #FFFBEB;
  padding-bottom: 30px;
}
.footer-link {
  color: #FFFBEB;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  background:  #ADD2C9;
}
.footer-link:hover {
  background: #1A5F7A;
  text-decoration: none;
}
.bottom-line {
  border-bottom: 2px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.last {
  margin-bottom: 0px;
}
