
body {
  margin: 0;
/*   text-align: center; */
  background-color: #CEE5D0;
  font-size: 1rem;
  font-family: 'Goldman', cursive;
  font-weight: normal;
  color: #5A8F7B;
}

hr {
  border-style: none;
  border-bottom: 6px dotted #FFFBEB;
  width: 5%;
  height: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.4rem;
  line-height: 2;
  margin-top: 0;
  font-family: 'Audiowide', cursive;
}

h2 {
  font-family: 'Goldman', cursive;
  font-size: 1.8rem;
  font-weight: normal;
}

h3 {
  font-size: 1.3rem;
  font-family: 'Goldman', cursive;
  font-weight: normal;
}

.top {
  padding-top: 100px;
  padding-bottom: 0px;
  position: relative;
}
.topic {
  position: relative;
  top: 40px;
  color: #5A8F7B;
}
.developer {
  font-size: 1rem;
  font-family: 'Goldman', cursive;
  font-weight: bold;
  position: relative;
  top: 10px;

}

.cloud-left {
  width: 10%;
  height: 10%;
  position: relative;
  bottom: 220px;
  left: 80px;

}

.cloud-right {
  width: 10%;
  height: 10%;
  position: relative;
  left: 260px;
  bottom: 170px;

}
.cloud-1 {
  width: 10%;
  height: 10%;
  position: relative;
  bottom: 100px;
  right: 400px;

}

.cloud-2 {
  width: 10%;
  height: 10%;
  position: relative;
  bottom: 60px;
  left: 160px;

}


.head-line {
  margin-top: 0px;
  padding-top: 0;
}

.profile-pic {
  width: 10%;
  height: 10%;
  position: relative;
  bottom: 10px;
}

.hello {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 100px;
}

.about-me {
  padding-right: 300px;
  padding-left: 300px;
  line-height: 30px;
  position: relative;
  bottom: 20px;

}


.skill-row1 {
  text-align-last: left;
  position: relative;
}

.skill-row2 {
  text-align-last: right;
  left: 150px;
  top: 100px;
  position: relative;
}
.img-skills {
  padding: 20px;
  width: 7%;
  height: 7%;
  position: relative;
  margin: 0;
}

.img-education {
  padding: 20px;
  width: 7%;
  height: 7%;
  position: relative;
}

.img-message {
  padding: 20px;
  width: 5%;
  height: 5%;
  position: relative;
  LEFT: 50px;

}
.btn {
  text-align: center;
  text-decoration: none;
  color: #8E806A;
  font-size: 1rem;
  font-family: 'Goldman', cursive;
  padding: 5px;
  border-radius: 8px;
  background: #FFE6BC;
  position: relative;
  right: 53px;
  top: 30px;
}
.btn:hover {
  background: #ADD2C9;
  color: #FFFBEB;
  text-decoration: none;
}
.bottom-container {
  padding-top: 30px;
  background-color: #FFFBEB;
  padding-bottom: 30px;
}
.footer-link {
  color: #8E806A;
  text-align: center;
  font-size: 1rem;
  font-family: 'Goldman', cursive;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  background: #FFE6BC;
}
.footer-link:hover {
  background: #ADD2C9;
  color: #FFFBEB;
  text-decoration: none;
}
.bottom-line {
  border-bottom: 2px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.last {
  margin-bottom: 0px;
}
